$tile-size: 41px


\:host
    position: relative
    width: calc(8*2*$tile-size + 7px)
    height: 370px


dominoes-tile
    position: absolute


top, bottom
    transform: rotate(180deg)
    border-width: 1px
    border-top-width: 4px

left, right
    transform: rotate(-90deg)
    border-right-width: 1px
    border-left-width: 4px

bottom
    top: calc(50% + 21px + #{4*$tile-size})

left
    left: calc(50% - #{8*$tile-size} - 22px)

middle
    top: calc(50% - 21px)

right
    left: calc(50% + #{6*$tile-size} + 22px)

top
    top: calc(50% - 21px - #{4*$tile-size})

@for $i from -22 through -12
    #tile#{$i}
        @extend top
        left: calc(50% - #{(20 - $i)*$tile-size} - 22px)

@for $i from -11 through -8
    #tile#{$i}
        @extend left
        top: calc(50% - #{($i + 8)*$tile-size + 1px})

@for $i from -7 through 7
    #tile#{$i}
        @extend middle
        left: calc(50% + #{$i*$tile-size - 40px})

@for $i from 8 through 11
    #tile#{$i}
        @extend right
        top: calc(50% - #{($i - 7)*$tile-size})

@for $i from 12 through 22
    #tile#{$i}
        @extend top
        left: calc(50% + #{(18 - $i)*$tile-size + 2px})

#tile8
    z-index: 2

#tile10
    z-index: 1

#tile12
    border-left-width: 4px

