%link(rel="import" href="../polymer/polymer.html")
%link(rel="import" href="dominoes-tile.html")

%polymer-element(name="dominoes-board" attributes="tiles root" constructor="DominoesBoard")
    %template
        / smoosh
        %link(rel="stylesheet" href="styles/dominoes-board.css")
        / endsmoosh
        .span rootIndex: {{rootIndex}}
        %template(repeat="{{tile,i in tiles}}")
            %dominoes-tile(id="tile{{2*(i - rootIndex)}}" left="{{tile[0]}}" right="{{tile[1]}}")
    / smoosh
    %script(src="scripts/dominoes-board.js")
    / endsmoosh
