%link(rel="import" href="../polymer/polymer.html")
%link(rel="import" href="icons.html")

%polymer-element(name="dominoes-tile" attributes="left right" constructor="DominoesTile")
    %template
        / smoosh
        %link(rel="stylesheet" href="styles/dominoes-tile.css" inline=true)
        / endsmoosh
        %core-icon(class="left" icon="dominoes:dot-{{left}}" alt="{{left}}")
        .separator
        .pin
        %core-icon(class="right" icon="dominoes:dot-{{right}}" alt="{{right}}")
    / smoosh
    %script(type="text/javascript" src="scripts/dominoes-tile.js" inline=true)
    / endsmoosh