!!! XML
!!!
%link(rel="import" href="../core-icon/core-icon.html")
%link(rel="import" href="../core-iconset-svg/core-iconset-svg.html")
%core-iconset-svg#dominoes(iconSize="100")
    %svg
        %defs
            %g#dot0
            %g#dot1
                %circle(cx="50" cy="50" r="10")
            %g#dot2
                %circle(cx="25" cy="25" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot3
                %circle(cx="25" cy="25" r="10")
                %circle(cx="50" cy="50" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot4
                %circle(cx="25" cy="25" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot5
                %circle(cx="25" cy="25" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="50" cy="50" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot6
                %circle(cx="25" cy="25" r="10")
                %circle(cx="50" cy="25" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="50" cy="75" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot7
                %circle(cx="25" cy="25" r="10")
                %circle(cx="50" cy="25" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="50" cy="50" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="50" cy="75" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot8
                %circle(cx="25" cy="25" r="10")
                %circle(cx="50" cy="25" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="25" cy="50" r="10")
                %circle(cx="75" cy="50" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="50" cy="75" r="10")
                %circle(cx="75" cy="75" r="10")
            %g#dot9
                %circle(cx="25" cy="25" r="10")
                %circle(cx="25" cy="50" r="10")
                %circle(cx="25" cy="75" r="10")
                %circle(cx="50" cy="25" r="10")
                %circle(cx="50" cy="50" r="10")
                %circle(cx="50" cy="75" r="10")
                %circle(cx="75" cy="25" r="10")
                %circle(cx="75" cy="50" r="10")
                %circle(cx="75" cy="75" r="10")
